{% extends "layout.html" %}

{% block content %}

<br />

<h2>Contact</h2>

<address>
    <h3>UCI Data Viz Bootcamp</h3><br />

    <uo><strong>Project Team:</strong>
        <li>Kevin Avery</li>
        <li>Megan Foster</li>
        <li>Meha Marathe</li>
        <li>Brad Marchant</li>
        <li>Troy Rippeto</li>
    </uo>
</address>

<address>
    <strong>P:</strong> 555.555.5555
</address>

<address>
    <strong>E:</strong>   <a href="">Group3@example.com</a><br />
</address>

{% endblock %}
